.mmm-mvg-table {
    font-size: 75%;
    line-height: 65px;
    display: inline-block;
    -ms-transform: translate(0, -3px); /* IE 9 */
    -webkit-transform: translate(0, -3px); /* Safari */
    transform: translate(0, -3px);
}

.mmm-mvg-row-line {
}

.mmm-mvg-row-line.b {
}

.mmm-mvg-row-line.s {
}

.mmm-mvg-row-line.u {
}

.mmm-mvg-row-line.u:before {
    content: "U";
}

.mmm-mvg-row-line.t {
}

.mmm-mvg-row-destination {

}

.mmm-mvg-row-minutes {
}